





.table2 .table-row .line_horizontal{
  
    border-left: 1px solid #000000;height: 39px;
    }
.table2 {
    width: 100%;
    /* margin-top:7rem; */
    /* min-width: 95%; */
    /* max-width: 105rem; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    }
    
    .table2 h2 {
      font-size: 40px;
      margin: 20px 0;
      text-align: center;
      color: white;
      
    }
    .table2  small {
        font-size: 0.5em;
      }
  
      .table2   li {
        padding: 10px 25px;
        gap: 10px;
        border-radius: 10px;
        /* padding: 25px 30px; */
        display: flex;
        border: 0px solid #000000;
        justify-content: space-between;
        margin-bottom: 25px;
        align-items: center;
        flex-direction: row;
      }
      .table2 .table-header {
        /* height: 51.27px; */
        background-color:var(--gradient2);
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        color: #ffffff;
      }
      .table2 .table-row {
      text-transform: capitalize;
      font-size: 14px;
      background-color: #ffffff;
      filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.25));
      /* box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1); */
      }
      .table2 .table-row:hover {
          transform: scale(1.02);
          color: white;
          background-color: #E61F57;
          box-shadow: 2px 3px 20px 0px rgb(0 0 0 / 22%);
        }
        .table2 .col span{
            font-size: 23px;
            font-weight: 200;
           }
 .table2  .col {
         padding: 5px;
         gap: 6px;
         /* font-size: 14px; */
         display: flex;
         padding: 10px 5px 10px 5px;
         flex-basis: 25%;
         /* height: 51.27px; */
         align-items: center;
        }
        .table2  .col-1{
       gap: 6px;
       /* font-size: 14px; */
       display: flex;
       padding: 10px 5px 10px 5px;
       flex-basis: 25%;
       /* height: 51.27px; */
       align-items: center;
      }
      .table2  .col-2{
        flex-basis: 50%;
      } 
      .table2  .col-3{
       flex-basis: 20%;
      }
      .table2  .col-4{
       flex-basis: 	9%;
      }
      .table2  .col-5{
       flex-basis: 	9%;
      }
      .table2  .col-6{
       flex-basis: 	6%;
      }
      .table2  .col-7{
       flex-basis: 	6%;
      }
      .table2  .col-8{
       flex-basis: 	11%;
      }
      .table2  .col-9{
       flex-basis: 	8%;
      }
       .table2  .col-10{
       flex-basis: 	8%;
      }
       .table2  .col-11{
       flex-basis: 	50%;
      }
         .table2  .col-12{
       flex-basis: 	50%;
      }









 
  @media  (max-width: 767px) {
    .line_horizontal{
        display: none;
    }
      .table2 .table-header {
        display: none;
        }


        .rapport_head span:nth-child(2) {
            font-size: 14px;
        }
        .rapport_head span:nth-child(1) {
            font-size: 20px;
         
        }.rapport_head {
           
            gap: 2px;
         
        }
        .empty_table2_text p {
            text-align: center;
            font-size: 18px;
        }
        .empty_table2_img img {
            width: 169px;
            height: 169px;
        }
  }
      
      @media all and (max-width: 767px) {
         .table-header {
          display: none;
        }
        .table-row{
          
        }
        .table2 li {
          display: block;
        }
        .table2  .col {
          
          flex-basis: 100%;
          
        }
        .table2  .col {
          /* text-align: center; */
          display: flex;
          padding: 10px 0;
          justify-content: flex-start;
        } 
        .table2 .col:before {
            color: #6C7A89;
            padding-right: 10px;
            content: attr(data-label);
            flex-basis: 50%;
            text-align: left;
          }
      }
    