{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="website icon" type="png" href="/media/image/logo sans bg.png">
	<title>Quick Lab</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> 
      <!-- jquery cdn link  -->
    <link rel="stylesheet" href="{% static 'css/login.css' %}" media="screen">
    <link href="{% static 'css/homedashboard.css' %}" rel="stylesheet">
    <link href="{% static 'css/general/icons_google.css' %}" rel="stylesheet">

     <script src="{% static 'js/general/font_awsom.js' %}"></script>
    
    <link rel="stylesheet" href="{% static 'css/general/icons_google.css' %}" />
    
    <link rel="stylesheet" href="{% static 'css/general/fonts.googleapis.Merriweather.css' %}" />
   
    <script src="{% static 'js/login.js' %}"></script>
    <script type="text/javascript" async="" src="https://sdk.privacy-center.org/sdk.ca5e5165e57751a50d217e6d3189d370b73f3d63.js" charset="utf-8"></script>
    <link rel="stylesheet" id="main-style-css" href="{% static 'css/app_info.min.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  

</head>
<body>
    <div class="subNav-item">

        <section class="hero heroHomepageV2 padding-none" data-section-type="Hero Rolling Tagline" data-view="viewed">
            <div id="home" class=" heroHomepageV2__backgroundDesktop">
                <img class="heroHomepageV2__dotsDesktop"
                    src="https://lh3.googleusercontent.com/hJQe1xOX32-LN4y0R0yeM8KmgF8ZhoM7_azam_mronGx4-N4X4sGSkAg1eKSinigerSvE3SrHqwlOoTTafjlMX6zsBddXzVtOk0Pkw4XHoyoxiZ8ZfKiBr2dLDE2FVDGx2DIfa644A=w2400"
                    alt="La nouvelle génération de solutions pour les praticiens" loading="lazy">
            </div>
            <div class="heroHomepageV2__container">
                <div id="sidetext" class="heroHomepageV2__contentTXT contentTXT">
                    <div class="heroHomepageV2__background">
                        <div class="contentTXT__container">
                            <div>
                                <div class="menu-panel__content_header">
                                    <a class="side-menu-logo hide-up-to-tablet" role="banner" routerlink="/"
                                        title="Homepage" href="{% url 'home' %}">
                                        <img alt="Logo"
                                            src="/media/image/logo sans bg.png"
                                            width="110" height="100">
                                    </a>
                                    <div>
                                        <a class="side-menu-logo-title" href="{% url 'home' %}">
                                            <p class="u-hidden-sm u-hidden-xs u-text u-text-palette-3-base u-text-1 animated customAnimationIn-played"
                                                data-animation-name="customAnimationIn" data-animation-duration="1000"
                                                data-animation-direction=""
                                                style="will-change: transform, opacity; animation-duration: 1000ms;">
                                                Quick </p>
                                            <p class="u-hidden-sm u-hidden-xs u-text u-text-palette-1-base u-text-2 animated customAnimationIn-played"
                                                data-animation-name="customAnimationIn" data-animation-duration="1000"
                                                data-lang-en="Lab"
                                                style="will-change: transform, opacity; animation-duration: 1000ms;">Lab
                                            </p>
                                        </a>
                                    </div>
                                </div>
                            </div>
<h1 class="contentTXT__title">The new generation of solutions for practitioners</h1>
<div class="contextTXT__sliderText sliderText">
    <p class="contentTXT__subtitle sliderText__preText">Equip yourself with QuickLab and</p>
                                <div class="sliderText__changeHidden" style="display: none;">
                                    <div class="sliderText__items">
                                    <div class="sliderText__item">Save time in your daily routine</div>
                                    <div class="sliderText__item">Increase your work comfort</div>
                                    <div class="sliderText__item">Enhance patient care</div>
                                    <div class="sliderText__item">Grow your business</div>
                                    <div class="sliderText__item sliderText__last">Save time in your daily routine</div>
                                    </div>
                                </div>
                            </div>
                            <div class="contentTXT__listContainer " >
                                <ul class="contentTXT__bulletlist bulletlist">
                                <li class="bulletPoint">Save time in your daily routine</li>
                                <li class="bulletPoint">Increase your work comfort</li>
                                <li class="bulletPoint">Enhance patient care</li>
                                <li class="bulletPoint">Grow your business</li>
                                <li class="bulletPoint ">Save time in your daily routine</li>
                                   </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="heroHomepageV2__form  ">
                    <div class="heroHomepageV2__imgDesktopContainer">
                        <picture>
                            <source media="(max-width: 767px)"
                                srcset="https://lh3.googleusercontent.com/_xekjGM3vuKRC_5XymJ1iwtEhp3i0pcmLDlnQpn5wCj9GQXiFBGBb0rHzF5Y6Ec-HOg6ph48iy3dyzjacC41xpYeczQnntk9boX_U7SSOj2zWR02TKW_LQ6L-cqGt2J-gXsrdG5_QA=w2400">
                            <source media="(max-width: 1023px)"
                                srcset="https://lh3.googleusercontent.com/_xekjGM3vuKRC_5XymJ1iwtEhp3i0pcmLDlnQpn5wCj9GQXiFBGBb0rHzF5Y6Ec-HOg6ph48iy3dyzjacC41xpYeczQnntk9boX_U7SSOj2zWR02TKW_LQ6L-cqGt2J-gXsrdG5_QA=w2400">
                            <img class="heroHomepageV2__"
                                src="/media/image/imgonline-com-ua-ReplaceColor-tR6iEcNuisYaSz-removebg-preview.png"
                                alt="professionnels-de-sante-illustration" loading="lazy">
                        </picture>
                    </div>
                    <div id="login" class="column column_form login">
                        <div class="hero_form form-background white ">

                            <div class="form-wrapper">
                                <h3>sign in </h3>
                                <div class="sign_methode">
                                    

                                    <p class="card-subtitle line-on-side text-muted text-center font-small-3 mx-2 my-1">
                                        <span> Using Account
                                            Details</span></p>
                                </div>
                                        <form class="form-b2b" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="hosting_site_id" value="35046">
                                        
                                        
                                            <input type="hidden" value="contact_form" name="origin_label">
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                            <div class="flex-rows-break"></div>
                                            <div class="field_info">
                                                <div class="field-wrapper">
                                                    <input type="text" class="email js-autocomplete-email" name="username" placeholder="nom d'utilisateur *"
                                                        required="true" aria-required="true" required>
                                                    <label class="label-and-placeholder">user name *</label>
                                                </div>
                                                <div class="field-wrapper">
                                                    <input id="password" type="password" class="email js-autocomplete-email" name="password"
                                                        placeholder="Choisissez un mot de passe *" required aria-required="true"
                                                        data-val-required="Your Password Must: Contain At Least One Lower-Case Letter, Contain At Least One Upper-Case Letter, Contain At Least One Number, Contain At Least One Of The Following Supported Symbols ! # $ % £ * - ? @ _ | ^ ~ : ., Must Be At Least 12 Characters Long" >
                                                    <label class="label-and-placeholder"> password *</label>
                                                   
                                                </div>
                                            </div>
                                        
                                        
                                            <div class="flex-rows-break"></div>
                                        
                                        
                                            <div class="flex-rows-break"></div>
                                        
                                        
                                        
                                        
                                            <div class="form-group row forget_p ">
                                                <div class="col-sm-6 col-12 text-center text-sm-left pr-0 text-white d-none none">
                                                    <fieldset>
                                                        <div class="icheckbox_square-blue" style="position: relative;"><input type="checkbox" id="remember-me"
                                                                class="chk-remember" style="position: absolute; opacity: 0;"><ins class="iCheck-helper"
                                                                style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                                        </div>
                                                        <label for="remember-me" class=""> Remember Me</label>
                                                    </fieldset>
                                                </div>
                                                <div class="col-sm-6 col-12 float-sm-left mt-1 text-center text-sm-right p-10"><a href="{% url 'Forgot_Password' %}"
                                                        class="card-link">Forgot Password?</a></div>
                                            </div>
                                        
                                        
                                            <div class="power_form_input">
                                                <input type="submit" value="Login" class="btn">
                                        
                                        
                                            </div>
                                        
                                        
                                        
                                        
                                        
                                        </form>
                                            
                                    <div class="sign_methode">
                                    
                                        <p class="card-subtitle line-on-side text-muted text-center font-small-3 mx-2 my-1"><span>dont have account </span></p>
                                    
                                    </div>
                                    <div class="sign_up">
                                        <p class="text-center">Not a member? <a href="{% url 'signup' %}">Sign Up</a></p>
                                    </div>
                                    <div class="sign_methode gohome">
                                        <p class="card-subtitle line-on-side text-muted text-center font-small-3 mx-2 my-1"><span>looking for somthing
                                                else</span></p>
                                    </div>
                                    <div class="sign_up gohome">
                                        <p class="text-center"> change your minde <a href="{% url 'home' %}">go home </a></p>
                                    </div>
                                    </div>
                                    </div>
                                    
                                    </div>
                                    
                                    </div>
                                    
                                    <div class="heroHomepageV2__imgMobileContainer">
                                        <picture>
                                            <source media="(max-width: 767px)"
                                                srcset="https://lh3.googleusercontent.com/_xekjGM3vuKRC_5XymJ1iwtEhp3i0pcmLDlnQpn5wCj9GQXiFBGBb0rHzF5Y6Ec-HOg6ph48iy3dyzjacC41xpYeczQnntk9boX_U7SSOj2zWR02TKW_LQ6L-cqGt2J-gXsrdG5_QA=w2400">
                                            <source media="(max-width: 1023px)"
                                                srcset="https://lh3.googleusercontent.com/_xekjGM3vuKRC_5XymJ1iwtEhp3i0pcmLDlnQpn5wCj9GQXiFBGBb0rHzF5Y6Ec-HOg6ph48iy3dyzjacC41xpYeczQnntk9boX_U7SSOj2zWR02TKW_LQ6L-cqGt2J-gXsrdG5_QA=w2400">
                                            <img class="heroHomepageV2__imgMobile"
                                                src="https://lh3.googleusercontent.com/_xekjGM3vuKRC_5XymJ1iwtEhp3i0pcmLDlnQpn5wCj9GQXiFBGBb0rHzF5Y6Ec-HOg6ph48iy3dyzjacC41xpYeczQnntk9boX_U7SSOj2zWR02TKW_LQ6L-cqGt2J-gXsrdG5_QA=w2400"
                                                alt="La nouvelle génération de solutions pour les praticiens" loading="lazy">
                                        </picture>
                                    </div>
                                    </div>
                                    </section>
                                    </div>
                                    <section>
                                        <div class='air air1'></div>
                                        <div class='air air2'></div>
                                        <div class='air air3'></div>
                                        <div class='air air4'></div>
                                    </section>
                                    <!-- jquery cdn link  -->
    
                                    </body>
                                    {% for message in messages %}
                                        {% if message.tags == 'error' %}
                                            <script type="text/javascript">
                                                const alertDiv = document.createElement('div');
                                                alertDiv.className = 'custom-alert alert-error';
                                                alertDiv.innerHTML = '<div class="icon__wrapper"><span class="material-symbols-outlined">error</span></div><p> {{ message|safe }}</p>';

                                                const body = document.getElementById('body');
                                                document.body.appendChild(alertDiv);
                                                setTimeout(function() {
                                                    alertDiv.remove();
                                                }, 3000);
                                            </script>
                                            {% else %}
                                            <script type="text/javascript">
                                            const alertDiv = document.createElement('div');
                                            alertDiv.className = 'custom-alert alert-success';
                                            alertDiv.innerHTML = '<div class="icon__wrapper"><span class="material-symbols-outlined">task_alt</span></div> <p>{{ message|safe }}</p>';
                                            document.body.appendChild(alertDiv);
                                        
                                            setTimeout(function() {
                                            alertDiv.remove();
                                            }, 3000);
                                        </script>
                                        {% endif %}
                                    {% endfor %}

                                    </html>
