.u-section-1 {
  min-height: 318px;
  background-image: url("/media/image/imgonline-com-ua-ReplaceColor-01dhezfnfKvvpup-removebg-preview (1).png");
  background-position: 3.99% 50%;
}

#sec-94d3 {
  margin-top: 76px;
}

.u-section-1 .u-sheet-1 {
  min-height: 655px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  background-position: 50% 58.66%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 42px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  line-height: 1.2;
  margin: 118px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 61px 18px 0;
}

.u-section-1 .u-line-1 {
  width: 312px;
  height: 0;
  transform-origin: center top;
  margin: 100px 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 655px;
  background-image: url("/media/image/imgonline-com-ua-ReplaceColor-S8vjhwm7P9y4hofX-removebg-preview.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 4.7% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 203px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 83px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 38px;
    margin-right: 0;
    margin-left: 21px;
  }

  .u-section-1 .u-image-1 {
    min-height: 540px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 66px;
    background-position: 36.12% 8.27%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 77px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 57px;
    margin-right: 57px;
  }

  .u-section-1 .u-image-1 {
    min-height: 414px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-image-1 {
    min-height: 621px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 395px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 11px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 34px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 391px;
  }
}

.u-section-2 {
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 620px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 1px auto;
}

.u-section-2 .u-image-1 {
  background-image: url("/media/image/imgonline-com-ua-ReplaceColor-7ogxDAvE2TXqcz8d-removebg-preview.png");
  background-position: 50% 50%;
  min-height: 619px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-image-2 {
  background-position: 21.51% 30.38%;
  background-size: auto 125%;
  background-image: url("/media/image/imgonline-com-ua-ReplaceColor-gZ88xCrVOJ8GG-removebg-preview.png");
}

.u-section-2 .u-container-layout-2 {
  padding: 27px 18px;
}

.u-section-2 .u-group-elements-1 {
  width: 158px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  text-decoration: underline !important;
  margin: 0 22px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 56px 1px 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  margin: 56px 0 0;
}

.u-section-2 .u-line-1 {
  width: 312px;
  height: 0;
  transform-origin: center top;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 511px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-image-1 {
    background-position: 50% 44.87%;
    min-height: 510px;
  }

  .u-section-2 .u-image-2 {
    background-position: 21.78% 0%;
    background-size: auto 110%;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 48px;
    padding-left: 10px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 19px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 19px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 21px;
    margin-bottom: 21px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-1 {
    min-height: 391px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-2 {
    background-position: 21.51% 30.38%;
    background-size: 115%;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-2 .u-group-elements-1 {
    min-height: 22px;
    margin-top: 16px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 63px;
    margin-right: 20px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 63px;
    margin-left: 21px;
    margin-right: 21px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1175px;
  }

  .u-section-2 .u-image-1 {
    min-height: 587px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 778px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 370px;
  }

  .u-section-2 .u-image-2 {
    background-position: 60.61% 29.33%;
    min-height: 750px;
    background-size: auto 125%;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-2 .u-group-elements-1 {
    margin-top: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 21px;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 21px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-line-1 {
    margin-top: 100px;
  }
}

.u-section-3 {
  min-height: 318px;
  background-image: url("/media/image/imgonline-com-ua-ReplaceColor-01dhezfnfKvvpup-removebg-preview (1).png");
  background-position: 0% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 655px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 533px;
  background-position: 50% 50%;
  background-size: auto 105%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 18px;
}

.u-section-3 .u-group-elements-1 {
  width: 301px;
  min-height: 25px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  text-decoration: underline !important;
  margin: 0 24px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 50px 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  margin: 56px 0 0;
}

.u-section-3 .u-line-1 {
  width: 312px;
  height: 0;
  transform-origin: center top;
  margin: 30px 0 0;
}

.u-section-3 .u-image-1 {
  min-height: 655px;
  background-image: url("/media/image/Vaccine development-pana.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 203px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 439px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 44px;
  }

  .u-section-3 .u-image-1 {
    min-height: 540px;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    background-position: 23.72% 50%;
    min-height: 6px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-3 .u-group-elements-1 {
    height: auto;
    margin-top: 12px;
    margin-left: 5px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 68px;
    margin-left: 5px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 75px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-3 .u-image-1 {
    min-height: 414px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 66px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 77px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-3 .u-image-1 {
    min-height: 621px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    background-position: 23.72% 26.08%;
    min-height: 112px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 553px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 533px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-group-elements-1 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: 30px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 391px;
  }
}

.u-section-4 {
  min-height: 318px;
}

.u-section-4 .u-sheet-1 {
  min-height: 655px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-4 .u-image-1 {
  min-height: 655px;
  background-image: url("/media/image/Vaccine development-rafiki.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-4 .u-image-2 {
  background-image: url("/media/image/imgonline-com-ua-ReplaceColor-gZ88xCrVOJ8GG-removebg-preview.png");
  background-position: 14.76% 23.28%;
  background-size: auto 120%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 17px;
}

.u-section-4 .u-group-elements-1 {
  width: 147px;
  min-height: 25px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline !important;
  margin: 0 27px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 73px 1px 0;
}

.u-section-4 .u-group-elements-2 {
  min-height: 280px;
  height: auto;
  width: 535px;
  margin: 55px 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-4 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-4 .u-line-1 {
  width: 312px;
  height: 0;
  transform-origin: center top;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 {
    min-height: 203px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 203px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 540px;
  }

  .u-section-4 .u-image-2 {
    background-position: 19.59% 50%;
    background-size: auto 105%;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-group-elements-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 {
    min-height: 491px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-4 .u-image-1 {
    min-height: 414px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-2 {
    background-position: 19.59% 30.26%;
    background-size: 120%;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .u-section-4 .u-group-elements-1 {
    margin-top: 50px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 66px;
  }

  .u-section-4 .u-group-elements-2 {
    width: 639px;
    margin-top: 66px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 {
    min-height: 905px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 77px;
  }

  .u-section-4 .u-image-1 {
    min-height: 621px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-4 .u-group-elements-2 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    min-height: 53px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 391px;
  }

  .u-section-4 .u-image-2 {
    min-height: 613px;
    background-position: 66.6% 41.14%;
    background-size: auto 120%;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-section-4 .u-group-elements-1 {
    margin-top: 24px;
    margin-left: 5px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 34px;
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-4 .u-group-elements-2 {
    min-height: 430px;
    width: 320px;
    margin-top: 19px;
  }
}

.u-section-5 {
  min-height: 318px;
  background-image: url("/media/image/imgonline-com-ua-ReplaceColor-01dhezfnfKvvpup-removebg-preview (1).png");
  background-position: 0% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 655px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 655px;
}

.u-section-5 .u-container-layout-1 {
  padding: 29px 18px;
}

.u-section-5 .u-group-elements-1 {
  width: 229px;
  min-height: 25px;
  height: auto;
  margin: 0 auto 0 1px;
}

.u-section-5 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  text-decoration: underline !important;
  margin: 2px 27px 0 0;
}

.u-section-5 .u-text-2 {
  margin: 58px 0 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  margin: 56px 1px 0;
}

.u-section-5 .u-image-1 {
  min-height: 655px;
  background-image: url("/media/image/imgonline-com-ua-ReplaceColor-4kh7338rne-removebg-preview.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 203px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 660px;
    background-position: 50% 50%;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 35px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 44px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    min-height: 540px;
  }
}

@media (max-width: 991px) {
  .u-section-5 {
    background-position: 11.56% 15.81%;
    min-height: 6px;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 685px;
  }

  .u-section-5 .u-group-elements-1 {
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-top: 56px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 66px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-5 .u-image-1 {
    min-height: 414px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 {
    min-height: 66px;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 77px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 621px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-5 .u-image-1 {
    min-height: 621px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 {
    background-position: 11.56% 6.28%;
    min-height: 212px;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 587px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 587px;
  }

  .u-section-5 .u-container-layout-1 {
    padding: 19px 13px 17px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 32px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 18px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    min-height: 391px;
  }
}